#debug-toolbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    //background-color: #efefef;
    font-family: Consolas;
}

#debug-toolbar a {
    color: #c0392b;
    text-decoration: none;
}

#debug-toolbar a:hover, a:active {
    color: #333;
}


#debug-toolbar-header {
    margin: 0 auto;
}

#debug-toolbar-header ul { 
    margin: 0px;
    padding: 0 40px; 
}

#debug-toolbar-header li {
    float: left;
    margin-right: 5px;
    list-style:none;
}

#debug-toolbar-header #close {
    float: right;
}

#debug-toolbar-header li a{
    display: block;
    padding: 6px 30px;
    background: #544f6b;
    text-decoration: none;
    color: #8478B3;
}

#debug-toolbar-header li a:hover {
    background: rgb(56, 74, 99);
}

#debug-toolbar-header li a.active {
    background: white !important;
    color: #655c89 !important;
}

#debug-toolbar-container {
    height: 200px;
    display: none;
    background: white;
    padding: 15px;
    font-size: 13px;
}

#debug-toolbar-container ul{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#debug-toolbar-container .debug-tab{
    height: 100%;
    width: 100%;
    overflow: auto;
    display: none;
}

#debug-toolbar-container .debug-tab.active{
    display: block;
}

.debug-toolbar-clear {
    display: block;
    clear: both;
}